html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
/* ////////////////////// */
.body {
  display: flex;
  align-items: center;
}
.header {
  margin-top: 52px;
  position: sticky;
  z-index: 1;
  top: 10px;
}
.header .gr-logo {
  display: flex;
}
.header .img-logo {
  margin-right: 6px;
}
.header .dot {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #000000;
  display: inline-block;
  display: flex;
  margin-top: 22px;
  margin-left: 3.5px;
}
.gr-link {
  display: flex;
  gap: 39px;
  margin-left: 235px;
}
.header .gr-link .desc {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400px;
  line-height: normal;
}
.header .gr-link p:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.gr-su {
  display: flex;
  gap: 24px;
  margin-left: 177px;
  align-items: center;
}
.header .gr-su .desc {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
.gr-su .button-su {
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
  padding: 12px 24px;
  border: 2px #1ebfc1 solid;
  border-radius: 6px;
}
